.navbar-default {
    background-color: #009494;
    font-family: 'Raleway', sans-serif;
    height: 75px;
    z-index: 10;
}

.navbar-default .navbar-nav>li>a {
    color: #f6f6f6;
    font-size: 2em;
}

.navbar-brand {
    padding-top: 0px;
}

.navbar-nav {
    float: left;
}

.my-text {
    font-size: 2.5em;
}

.my-map{
    z-index: -10;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .my-height{
        margin-top: 15px;
    }
    .navbar-nav>li>a {
        margin-top: 10px;
    }
}