body {
    font-family: 'Raleway', sans-serif;
}

nav {
    padding-bottom: 75px;
}

.navbar-default {
    background-color: #009494;
    height: 75px;
    z-index: 10;
}

.navbar {
    margin-bottom: 60px;
}

.navbar-default .navbar-nav>li>a {
    color: #f6f6f6;
    font-size: 2em;
}

.navbar-brand {
    padding-top: 0px;
}

.navbar-nav {
    float: left;
}

.my-text {
    font-size: 2.5em;
}

.my-map {
    z-index: -10;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .my-height {
        margin-top: 15px;
    }
    .navbar-nav>li>a {
        margin-top: 10px;
    }
}

h1 {
    font-size: 4em;
    margin-left: 0;
}

h2 {
    display: inline;
}

main {
    color: #191919;
}

.btn-info {
    color: #f6f6f6;
    background-color: #009494;
    border-color: #009494;
    float: right;
}

.btn-info:hover {
    background-color: #005e5e;
}

.btn-info:visited {
    background-color: #005e5e;
}

.resources {
    font-size: 1.5em;
}


/* CSS Document */

form, p, span {
    margin: 0;
    padding: 0;
}

input {
    font: 12px arial;
}

a {
    color: #0000FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#wrapper, #loginform {
    margin: 0 auto;
    background-color: rgba(0, 148, 149, .25);
    border: #95989A solid 2px;
    width: 504px;
    border: 1px solid #ACD8F0;
}

#loginform {
    padding-top: 18px;
}

#loginform p {
    margin: 5px;
}

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #F6F6F6;
    height: 270px;
    width: 430px;
    border: 1px solid #191919;
    overflow: auto;
}

#usermsg {
    width: 395px;
    border: 1px solid #ACD8F0;
}

#submit {
    width: 60px;
}

.error {
    color: #ff0000;
}

#menu {
    padding: 12.5px 25px 12.5px 25px;
}

.logout {
    float: right;
}

.msgln {
    margin: 0 0 2px 0;
}