{% extends 'tools/base.html' %}
{% block content %}
    <div class="container">
        <h1>{{ tool.title }}</h1>
        <p>{{ tool.description }}</p>

<a href="{% url 'add_comment' pk=tool.pk %}">Add comment</a>

        {% for comment in comments.all %}
    <div class="comment">
        <div class="date">{{ comment }}</div>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
        <div>
          <a href="{% url 'edit' tool.id %}" class="btn btn-sm btn-warning">Edit</a>
        </div>
    </div>
{% endblock %}
