{% extends 'tools/base.html' %}
{% block content %}
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-6"><h3>Description</h3></div>
            </div>
            {% for post in posts %}
                <div class="row">
                    <a href="{% url 'detail' post.id %}"><div class="col-md-4">{{ post.title }}</div></a>
                    <div class="col-md-6">{{ post.description }}</div>
                    <div class="col-md-2">
                    </div>
                </div>
            {% endfor %}
            <a href="{% url 'create' %}"><button> Make a Post </button></a>
        </div>
    </div>
{% endblock %}
