{% extends 'tools/base.html' %} {% block content %}
<div class="container">
    <header>
    <h3 class="f">Feed</h3>
    <a href="{% url 'create' %}"><button class="b"> Make a Post </button></a>
    </header>
    {% for post in posts %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="a" href="{% url 'detail' post.id %}">
                <div>{{ post.title }}</div>
            </a>

        </div>
        <div class="panel-body">
            {{ post.description }}
        </div>
    </div>
    {% endfor %}
    
</div>
</div>
{% endblock %}