{% extends 'tools/base.html' %} {% block content %}

<main>
    <div class="container">
        <h1>Daisy Lanchester</h1>
        <h3>Username Visible to Public: dlan56</h3>

        <h3>Your Posts</h3>
        <ul>
            <li>Today at Work</li>
            <li>Walking home</li>
        </ul>

        <h3>Saved Posts</h3>
        <ul>
            <li>Yesterday this bad thing happened</li>
            <li>My boss said something innapropriate</li>
        </ul>
    </div>
</main>
{% endblock %}