{% extends 'tools/base.html' %} {% block content %}

<body>
    <main>
        <div class="container resources">
            <h1> Resources
                <h1>
                    <h2>General Information</h2>
                    <a href="#general" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
                    <div id="general" class="collapse">
                        <ul>
                            <li><a href="https://www.rainn.org/about-national-sexual-assault-telephone-hotline">National Sexual Assault Hotline</a>:
                                National hotline, operated by <a href="https://www.rainn.org/">RAINN</a>, that serves people
                                affected by sexual violence. It automatically routes the caller to their nearest sexual assault
                                service provider. You can also search your local center <a href="https://centers.rainn.org/">here</a>.
                                Hotline: 800.656.HOPE</li>
                            <li><a href="http://www.nsvrc.org">National Sexual Violence Resource Center</a>: This site offers
                                a wide variety of information relating to sexual violence including a large legal resource
                                library.</li>
                            <li><a href="http://www.trynova.org/about-us/overview/">National Organization for Victim Assistance</a>:
                                Founded in 1975, NOVA is the oldest national victim assistance organization of its type in
                                the United States as the recognized leader in this noble cause.</li>
                            <li><a href="http://vawnet.org/">National Online Resource Center on Violence Against Women</a>: VAWnet,
                                a project of the National Resource Center on Domestic Violence hosts a resource library home
                                of thousands of materials on violence against women and related issues, with particular attention
                                to its intersections with various forms of oppression.</li>
                            <li><a href="https://www.nsopw.gov/en-US">U.S. Department of Justice: National Sex Offender Public Website</a>:
                                NSOPW is the only U.S. government Website that links public state, territorial, and tribal
                                sex offender registries from <a href="https://www.nsopw.gov/en/Search/Verification">one national search site</a>.</li>
                            <li><a href="http://www.victimsofcrime.org/">The National Center for Victims of Crime</a>: The mission
                                of the National Center for Victims of Crime is to forge a national commitment to help victims
                                of crime rebuild their lives. They are dedicated to serving individuals, families, and communities
                                harmed by crime.</li>
                            <li><a href="http://www.stopstreetharassment.org/our-work/nationalshhotline/">National Street Harassment Hotline</a>:
                                Created by Stop Street Harassment, Defend Yourself, and operated by RAINN, the National Street
                                Harassment Hotline is a resource for those affected by gender-based street harassment. Support
                                is available in English and Spanish: call 855.897.5910 or <a href="https://hotline.rainn.org/ssh-en/terms-of-service.jsp">chat online</a>.
                                </li>
                        </ul>
                    </div>
                    <hr>

                    <h2>Domestic, Dating, and Intimate Partner Violence</h2>
                    <a href="#domestic" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
                    <div id="domestic" class="collapse">
                        <ul>
                            <li><a href="http://www.thehotline.org/">National Domestic Violence Hotline</a>: Through this hotline
                                an advocate can provide local direct service resources (safehouse shelters, transportation,
                                casework assistance) and crisis intervention. Interpreter services available in 170 languages.
                                They also partner with the Abused Deaf Women's Advocacy Center to provide a videophone option.
                                Hotline: 800.799.SAFE</li>
                            <li><a href="http://www.loveisrespect.org/">National Teen Dating Abuse Online Helpline</a>: This
                                online helpline assists teens who are, or may be, in abusive relationships.</li>
                            <li><a href="http://www.866uswomen.org/">Americans Overseas Domestic Violence Crisis Center</a>:
                                The center serves abused Americans, mostly women and children, in both civilian and military
                                populations overseas. In addition to providing domestic violence advocacy, safety planning
                                and case management, the center assists victims with relocation, emergency funds for housing
                                and childcare, and funds for payment of legal fees.</li>
                            <li><a href="http://www.ncadv.org/">National Coalition against Domestic Violence</a>: The national
                                coalition of Domestic Violence organizations is dedicated to empowering victims and changing
                                society to a zero tolerance policy.</li>
                        </ul>
                    </div>
                    <hr>

                    <h2>Stalking</h2>
                    <a href="#stalking" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
                    <div id="stalking" class="collapse">
                        <ul>
                            <li><a href="http://www.victimsofcrime.org/our-programs/stalking-resource-center">Stalking Resource Center</a>:
                                The Stalking Resource Center is a program of the National Center for Victims of Crime. Their
                                website provides statistics on stalking, information on safety planning and other resources.</li>
                        </ul>
                    </div>
                    <hr>

                    <h2>Survivors with Disabilities</h2>
                    <a href="#disabilities" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
                    <div id="disabilities" class="collapse">
                        <ul>
                            <li><a href="http://www.deafdawn.org/">Deaf Abused Women’s Network (DAWN)</a>: Legal, medical, system
                                advocacy and survivor support services. Video Phone: 202.559.5366</li>
                            <li><a href="http://cavnet.blogspot.com/">CAVANET</a>: This organization addresses violence against
                                women, human rights, genocide, and crime victims with disabilities.</li>
                            <li><a href="http://www.ndrn.org/index.php">National Disability Rights Network</a>: NDRN members
                                investigate reports of abuse and neglect, and seek systemic change to prevent further incidents;
                                advocate for basic rights; and ensure accountability in health care, education, employment,
                                housing, transportation, and within the juvenile and criminal justice systems for individuals
                                with disabilities.</li>
                        </ul>
                    </div>
                    <hr>

                    <h2>College Students</h2>
                    <a href="#college" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
                    <div id="college" class="collapse">
                        <ul>
                            <li><a href="https://www.justice.gov/ovw/protecting-students-sexual-assault">NotAlone.gov</a>: A
                                government website dedicated to educating students and schools about Title IX and sexual
                                assault.</li>
                            <li><a href="http://knowyourix.org/">Know Your IX</a>: Provides information for students about their
                                Title IX rights in regards to ending sexual violence on campus.</li>
                            <li><a href="http://endrapeoncampus.org/">End Rape on Campus</a>: An advocacy organization dedicated
                                to assisting students file Title IX complaints.</li>
                        </ul>
                    </div>
                    <hr>

                    <h2>Resources for Male Survivors of Sexual Assult</h2>
                    <a href="#male" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
                    <div id="male" class="collapse">
                        <ul>
                            <li><a href="https://1in6.org/">1in6</a> (for men sexually abused as children): Provides educational
                                information and resources for men, family and friends, and professionals. Also provides access
                                to the online hotline.</li>
                            <li><a href="http://www.jimhopper.com/">Jimhopper.com</a>: This site has articles that discuss the
                                effects of child sexual abuse on adult men and their loved ones.</li>
                            <li><a href="http://www.malesurvivor.org/index.php">Malesurvivor.org</a>: This site has information
                                and a therapist search for male survivors of sexual violence.</li>
                        </ul>
                    </div>
                    <hr>

                    <h2>LGBTQ Survivors</h2>
                    <a href="#lgbtq" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
                    <div id="lgbtq" class="collapse">
                        <ul>
                            <li><a href="http://www.glbtqdvp.org/">GLBTQ Domestic Violence Project</a>: Website, information
                                and hotline for GLBTQ victims of domestic violence and their families. Hotline: 800.832.1901</li>
                            <li><a href="http://tnlr.org/en/">the Network la Red</a>: The Network/La Red hotline provides emotional
                                support, information, and safety planning for lesbian, gay, bisexual, queer and/or transgender
                                folks, as well as folks in the BDSM or Polyamorous communities who are being abused or have
                                been abused by a partner. Support available in English and Spanish. Hotline: 617.742.4911</li>
                            <li><a href="http://www.avp.org/">National Coalition of Anti-Violence Programs</a>: A coalition of
                                programs that document and advocate for victims of anti-LGBT and anti-HIV/AIDS violence/harassment,
                                domestic violence, sexual assault, police misconduct and other forms of victimization. Site
                                has a list of local anti-violence programs and publications. Hotline: 212.714.1141</li>
                            <li><a href="http://www.thetrevorproject.org/">The Trevor Project</a>: Help and suicide prevention
                                for GBLTQ youth. Hotline: 866.488.7386</li>
                            <li><a href="http://www.glbtnationalhelpcenter.org/">GLBT National Hotline</a>: Call center that
                                refers to over 15,000 resources across the country that support LGBTQ individuals. Hotline:
                                888.THE.GLNH (843.4564)</li>
                            <li><a href="http://forge-forward.org/">FORGE</a> (For Ourselves: Reworking Gender Expression): Home
                                to the Transgender Sexual Violence Project. Provides services and publishes research for
                                transgender persons experiencing violence and their loved ones.</li>
                            <li><a href="http://www.algbtic.org/therapist-resource-listing.html">Association for Lesbian, Gay, Bisexual &amp; Transgender Issues in Counseling</a>:
                                Directory of LGBT-friendly mental health specialists across the United States. Specialists
                                listed are verified members of AGLBTIC, a division of the American Counseling Association.</li>
                        </ul>
                    </div>
                    <hr>

                    <h2>Legal Resources</h2>
                    <a href="#legal" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
                    <div id="legal" class="collapse">
                        <ul>
                            <li><a href="http://www.womenslaw.org/">Womenslaw.org</a>: Information about restraining orders and
                                other legal protections for victims of domestic violence and sexual assault.</li>
                            <li><a href="https://apps.rainn.org/policy/">The Laws in Your State</a>: A database of state laws
                                including mandatory reporting, confidentiality laws, HIV/AIDS testing of sexual offenders,
                                termination of rapists' parental rights, and statutes of limitations for each state.</li>
                            <li><a href="http://www.victimsofcrime.org/our-programs/national-crime-victim-bar-association/for-victims">Attorney Referral Line</a>:
                                Refers callers to attorneys in their geographic area who can represent them in their pursuit
                                of civil claims and victim restitution. The referral line is not an anonymous service. Their
                                website also gives information about civil lawsuits. Phone: 202.467.8716</li>
                            <li><a href="https://takebackthenight.org/resources/">Take Back The Night Foundation</a>: Legal support
                                for survivors in every state. Referrals to counseling, support, legal aid, hospitals, and
                                nearest TBTN Event Holders. Hotline: 866.966.9013</li>
                            <li><a href="http://ithappenedtoalexa.org/">It Happened to Alexa Foundation</a>: The 'It Happened
                                to Alexa Foundation’ supports rape survivors through the trauma of the criminal trial, in
                                the hopes that more survivors will go through with the prosecution in order to put these
                                perpetrators behind bars.</li>
                        </ul>
                    </div>
                    <hr>

                    <h2>Mental Health</h2>
                    <a href="#mental" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
                    <div id="mental" class="collapse">
                        <ul>
                            <li><a href="https://www.sidran.org/">Sidran Traumatic Stress Foundation</a>: The Sidran Institute
                                provides information on traumatic stress (including PTSD), dissociative disorders, and co-occurring
                                issues such as addictions, self-injury, and suicidal behaviors.</li>
                            <li><a href="http://www.goodtherapy.org/">GoodTherapy.org</a>: GoodTherapy.org is an association
                                of mental health professionals from more than 25 countries worldwide who support efforts
                                to reduce harm in therapy.</li>
                            <li><a href="https://treatment.psychologytoday.com/rms/">Psychology Today</a>: Find detailed professional
                                listings for treatment centers in the United States and Canada.</li>
                            <li><a href="http://www.nationaleatingdisorders.org/">National Eating Disorder Helpline</a>: Information,
                                crisis and referral hotline for people dealing with eating disorders. Helpline: 800.931.2237</li>
                            <li><a href="http://www.nami.org/">National Alliance on Mental Illness (NAMI)</a>: Provides information
                                and referral services, not counseling. Helpline: 888.950.NAMI (6264)</li>
                            <li><a href="http://h-e-a-r-t.org/about-us/">http://h-e-a-r-t.org/about-us/</a>Hope Exists After
                                Rape Trauma: The mission of Hope Exists After Rape Trauma (H-E-A-R-T) is to provide HOPE
                                for victims of sexual assault through the provision of essential and therapeutic support,
                                by affecting positive change in laws influencing their lives, and by educating both the public
                                and professionals commissioned to serve victims.</li>
                        </ul>
                    </div>
                    <hr>

                    <h2>Suicide and Self Harm</h2>
                    <a href="#suicide" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
                    <div id="suicide" class="collapse">
                        <ul>
                            <li><a href="http://suicidepreventionlifeline.org/">National Suicide Prevention Lifeline</a>: Provides
                                crisis suicide intervention, self-harm counseling and assistance, and local mental health
                                referrals. Calls are routed to local centers. Hotline: 800.273.TALK (8255) and for the Spanish
                                line call 888.628.9454 or TTY: 800.799.4TTY (4889)</li>
                            <li><a href="http://www.boystown.org/hotline/Pages/default.aspx">Boystown National Hotline</a>: Assists
                                youth, and their family/friends, who are affected by self-harm and other issues. Hotline:
                                800.448.3000 or TTY: 800.448.3000</li>
                        </ul>
                    </div>
                    <hr>

                    <h2>Sexual Assult Prevention</h2>
                    <a href="#assult" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
                    <div id="assult" class="collapse">
                        <ul>
                            <li><a href="https://mainweb-v.musc.edu/vawprevention/">National Violence Against Women Prevention Research Center</a>:
                                Sponsored by the Centers for Disease Control and Prevention, this website to be useful to
                                scientists, practitioners, advocates, grassroots organizations, and any other professional
                                or layperson interested in current topics related to violence against women and its prevention.</li>
                            <li><a href="http://www.yesmeansyes.com/">Project Respect</a>: Project Respect aims to create discussions
                                and share a positive alternative model of relationships for youth.</li>
                            <li><a href="http://www.preventconnect.org/">PreventConnect</a>: The goal of PreventConnect is to
                                advance the primary prevention of sexual assault and relationship violence by building a
                                community of practice among people who are engaged in such efforts.</li>
                            <li><a href="https://campusoutreachservices.com/">Campus Outreach Services</a>: Offer information
                                and expertise to schools on sexual violence, diversity, sexual harassment, bullying, hate
                                crimes, healthy relationships, assertiveness, eating disorders, suicide, and related risk
                                issues.</li>
                            <li><a href="https://www.datesafeproject.org/">The Date Safe Project</a>: The DATE SAFE Project,
                                Inc. provides positive how-to skills and helpful insights for addressing verbal consent (asking
                                first), respecting of boundaries, sexual decision-making, bystander intervention, and supporting
                                survivors (opening the door for family and friends).</li>
                            <li><a href="https://childhelp.6connex.com/event/SpeakUpBeSafe/login">Child Help: Speak Up Be Safe</a>:
                                Childhelp Speak Up Be Safe is a newly developed, school-based, child abuse prevention education
                                program that focuses on child safety. It is an evolution of Good Touch Bad Touch.</li>
                            <li><a href="http://www.mencanstoprape.org/">Men Can Stop Rape</a>: Men Can Stop Rape seeks to mobilize
                                men to use their strength for creating cultures free from violence, especially men’s violence
                                against women.</li>
                            <li><a href="http://cyberbullying.org/">Cyber Bullying Research Center</a>: A clearinghouse for information
                                regarding cyberbullying.</li>
                        </ul>
                    </div>
                    <hr>

        </div>
    </main>
</body>
{% endblock %}