{% extends 'tools/base.html' %}
{% block content %}
<body>
    <main>
    <div class="container resources">
        <h1> Resources <h1>
        <h2>General Information</h2>
        <a href="#general" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
        <div id="general" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <hr>

        <h2>Domestic, Dating, and Intimate Partner Violence</h2>
        <a href="#domestic" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
        <div id="domestic" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <hr>

        <h2>Stalking</h2>
        <a href="#stalking" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
        <div id="stalking" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <hr>

        <h2>Survivors with Disabilities</h2>
        <a href="#disabilities" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
        <div id="disabilities" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <hr>

        <h2>College Students</h2>
        <a href="#college" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
        <div id="college" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <hr>

        <h2>Resources for Male Survivors of Sexual Assult</h2>
        <a href="#male" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
        <div id="male" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <hr>

        <h2>LGBTQ Survivors</h2>
        <a href="#lgbtq" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
        <div id="lgbtq" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <hr>

        <h2>Legal Resources</h2>
        <a href="#legal" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
        <div id="legal" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <hr>

        <h2>Mental / Physical Health</h2>
        <a href="#mental" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
        <div id="mental" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <hr>

        <h2>Suicide and Self Harm</h2>
        <a href="#suicide" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
        <div id="suicide" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <hr>

        <h2>Sexual Assult Prevention</h2>
        <a href="#assult" class="btn btn-info" data-toggle="collapse"><span class="caret" ></span></a>
        <div id="assult" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <hr>

    </div>
    </main>
</body>
{% endblock %}
