<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../static/css/splash.css">
</head>

<body>
    <main>

        <div class="background">
        </div>
        <div class="layer">
            <div class="content">
                <img alt="icon" src="../../static/images/favicon-splash.png">
                    <h1>stealth</h1>
                    <div class="butt">
                        <a href="{% url 'login' %}"><button class="log">log in &#124;</button></a>
                        <a href="{% url 'register' %}"><button class="sign">sign up  &#124;</button></a>
                        <a href="{% url 'register' %}"><button class="about">about us </button></a>
                    </div>
            </div>
        </div>
    </main>
</body>

</html>